#rsResults
{
	position:absolute;
	z-index:9999;
	background:#333333;
	width: 300px;
	display:none;
	filter:alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity:0.9;
}

a.mod_rsfinder,a.mod_rsfinder:link,a.mod_rsfinder:hover {
	background:transparent url(mod_rsfinder.gif) no-repeat scroll 0px 0px;
	text-decoration:none;
}

a.mod_rsfinder_loader,a.mod_rsfinder_loader:link,a.mod_rsfinder_loader:hover {
	background:transparent url(loader.gif) no-repeat scroll 0px 0px;
	text-decoration:none;
}

div#module-status { background: none; line-height:0px; }
#module-status  span.mod_rsfinder img { vertical-align: middle; }
div#rsResults ul
{
	margin:0;
	padding:0px;
	list-style-type:none;
}
div#rsResults ul li
{
	margin:0;
	padding:1px;
	list-style-type:none;
}

div#rsResults ul li a.rsInactive
{
	color: #ffffff;
	text-decoration:none;
	display: block;
	padding:5px;
}
.rsActive,div#rsResults ul li a:hover{
	color: #000000;
	background:#ffffff;
	display: block;
	padding:5px;
}
div#rsResults ul li
{
	color: #ffffff;
}