.gkAsideMenu li {
    float: left;
    width: 100%;
}
#aside-menu li a:hover{
	color:#4D0505;
}
#aside-menu li a {
    clear: both;
    color:#0B83B6;
    display: block;
    float: left;
    font-weight: bold;
    padding: 4px 15px;
    width:78%;
	text-decoration:none;
}
i#close-menu {
	cursor: pointer;
	float: right;
	font-size: 23px;
	position: absolute;
	top:26px;
	z-index: 9999999999999;
	transition: all 0.5s ease 0s;
	color:#0B83B6;
	height: 34px; 
	transition: all 0.5s ease 0s;
	left:10px;
}
#aside-menu.menu-open {
    width: 230px;
}
#aside-menu {
    background: none repeat scroll 0 0 #ececec;
    float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 99999999;
}
#aside-menu li {
    list-style: outside none;
}
span.gksubmenuappend{
	padding: 0px 10px;
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(play.png);
}
.prepandbacktext{
	float:right;
	width:100%;
}
.submenuhide{
	display:none;
}
.submenushow{
	display:block;	
}
a.haschild.submenuhide {
  display: none !important;
}
.animated {
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#aside-menu li {
  font-size: 15px;
  font-weight: 600;
  padding:5px 0px 0px 0px;
  /* text-transform: uppercase; */
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}
.prepandbacktext {
  float: right;
  width: 95%;
	background: #c9c9c9;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  font-weight: bold;
  padding: 3px 0 3px 15px; 
}
.simplemenutext {
  border-bottom: 1px solid #aaaaaa;
  color: #aaaaaa;
  font-size: 20px;
  margin: 0;
  padding: 15px;
}
#aside-menu .parentsubmenu, #aside-menu .parentsubmenu:hover {
  color:#000;  font-size: 18px;  font-weight: normal;  line-height: 30px;  padding: 3px 0 3px 0px;
}
#aside-menu .parentsubmenu, #aside-menu .parentsubmenu {
  color:#000;  font-size: 18px;  font-weight: normal;  line-height: 30px;  padding: 3px 0 3px 8px;
}
ul.gkmenu {
  margin: 0px;  padding:0px;
}
.browser.gkmobilebody{	
  transition: all 0.5s ease 0s;
}
.browser.menu-open {
  margin-left: 225px;
  transition: all 0.5s ease 0s;
}
.browser{
	width:100%;
	transition: all 0.5s ease 0s;
}
.menu-open+#close-menu{
	margin-left: 1px;
}
.tp-leftarrow.tparrows.default.round {
  left: 20px !important;
}
.tp-rightarrow.tparrows.default.round {
  right: 20px !important;
}
#aside-menu.menu-open+#close-menu{
  margin-left:1px;
  transition: all 0.5s ease 0s;
}
