@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url(/templates/everlasting/fonts/MinionPro-It.ttf) format('truetype'),
    url(/templates/everlasting/fonts/MinionPro-It.otf) format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url(/templates/everlasting/fonts/MinionPro-Regular.ttf) format('truetype'),
    url(/templates/everlasting/fonts/MinionPro-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}
body {
    background: url(../images/body_bg.png) repeat scroll 0 0 #FFF;
    color: #000;
    font: 14px/16px Times,serif;
    margin: 0;
    min-width: 960px;
}
.hide-desktop {
    display: none;
}
.dropshadow {
	width:960px;
	margin:auto;
	padding:0 20px;
	background:url(../images/ds.png) repeat-y center center scroll transparent;
}
.featured-family a {
    color: black;
    font-weight: bold;
}

.featured-family {
    font-weight: bold;
}
#content ul.nopadding li {
    padding:0;
}
img {
    border-style: none;
}
a {
    color: #499ecb;
    text-decoration: none;
}
a:hover {
    color: #4a9fcc;
}
input, textarea, select {
    color: #3E3E3E;
    font: 100% Arial,Helvetica,sans-serif;
    vertical-align: middle;
}
.img-intro-left,
.img-left {
	float: left;
	margin: 0 15px 15px 0;
}
.img-intro-right,
.img-right {
	float: right;
	margin: 0 0 15px 15px;
}
.clear,
.clearfix {
	clear:both
}
.clearfix:after {
	content: "";
	clear:both;
	display:block;
}
form, fieldset {
    border-style: none;
    /*color: #B6B6B6;*/
    margin: 0;
    padding: 0;
}
input[type=text], textarea, input[type=password] {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #4A9FCC;
    color: #000;
    display: block;
    margin: 0;
    padding: 3px 3px 3px 7px;
}
input[type=text], input[type=password] {
    width: 200px;
}
input[type=text]:focus, textarea:focus {
    border: 1px solid #C36DB8;
}
input[type=submit] {
    background: none repeat scroll 0 0 #4a9fcc;
    border: 1px solid #7D427D;
    color: #FFF;
    margin-top: 15px;
    padding: 3px 5px;
}
.error, .error ul li {
    color: #FF0000;
}
form label {
    color: #000;
    /*line-height: 28px;*/
    line-height: 1.5em;
}
#footer form label {
    color: #FFF;
}
#footer form input[type=submit] {
    color: #000;
}
#nav,
#nav .wrapper {
	overflow: visible;
}
#nav .wrapper {
    background: url(../images/menu_bg.png) repeat-x scroll 0 0 transparent;
    color: #CB6ACC;
    font-size: 23px;
    height:46px;
}
#nav ul {
    float: left;
    font: 14px/34px Times,serif;
    list-style: none outside none;
    margin: 0;
    padding:0;
    position: relative;
    z-index: 999;
}
#nav li {
    float: left;
    display: block;
    position: relative;
}
#nav li.item-471 a,
#nav li.item-506 a,
#nav li.item-586 a,
#nav li.item-476 a {
	padding: 0 20px;
}
#nav li.item-613 ul {
	left:-30px;
}
#nav li a {
    background: url(../images/menu_bg.png) repeat-x scroll 0 0 transparent;
    color: #45261d;
    height:46px;
    line-height:46px;
    padding: 0 13px;
    border-right:1px solid #eceae7;
    display:block;
    position: relative
}
#nav li a:hover,
#nav .active a {
    background: url(../images/menu_bg.png) repeat-x scroll 0 -46px transparent;
    color: #4a9fcc;
}

#nav li ul {
    background: none repeat scroll 0 0 #3A84B3;
    border: 0 solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 10px;
    z-index: 500;
	position: absolute;
	left:0;
	top:46px;
	z-index: 501;
}
#nav li:hover ul {
	display:block;
}
#nav li.parent ul li {
	width:220px;
}
#nav li.parent ul li + a {
	border:none !important;
}
#nav li.parent ul li a {
    background: none repeat scroll 0 0 #3A84B3;
    border-right:none;
    color: #FFFFFF;
	line-height:30px;
	height:30px;
	font-size:13.5px;
    /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);*/
    border-bottom:1px dashed #45A0D1;
    letter-spacing: 0.05em;
}
#nav li.parent ul li a:hover {
	background: #72ACCC;
}

#nav li ul li {
	float:none;
}
.item-474 ul {
	padding:0 !important;
	height:0px !important;
}


/*
#nav li a span {
    float: left;
    height: 35px;
    padding: 0 7px 0 12px;
}
#nav li a:hover span, #nav .active span {
    background: url(../images/bg-btns.gif) no-repeat scroll 0 -35px transparent;
}*/
.main-info .wrapper {
    background: url(../images/header_bg.png) repeat-x scroll 0 0 transparent;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding:20px 0;
}
.main-info strong a {
    display: block;
    height: 100%;
}
.main-info p {
    margin: 0 0 9px;
}
.partner-logo {
    background: url(../images/bg-partner-logo.gif) no-repeat scroll 0 0 transparent;
    height: 100px;
    position: absolute;
    left: 455px;
    text-indent: -9999px;
    top: 15px;
    width: 62px;
}
#logo {
	text-indent: -9999px;
	background:url(../images/logo.png) no-repeat scroll 0 0 transparent;
	height: 91px;
	display:block;
	margin-left:25px;
}
#free_application_btn {
	display:block;
	background-image:url(../images/free_application.png);
	height:37px;
	width:155px;
}
#header_phone {
    color:#2977a8;
    display:block;
    float:right;
    font-size:21px;
    font-weight:normal;
    line-height:1em;
    padding:25px 30px 0;
    text-align:left;
    text-transform:uppercase;
}
#header_phone a {
	color:#2977A8;
}
#header_phone span {
	font-size:24px;
	color:#45261d;
}
#header_phone span span.textus {
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 13px;
    text-transform: lowercase;
    line-height: 13px;
}
#header_phone span span.textnumber {
    color: #000000;
    display: block;
    font-size: 16px;
    line-height: 22px;
}
.info-block .frame {
    overflow: hidden;
}
.info-block .wrapper {
    height: 261px;
}
#slider {
	height:261px;
	position: relative;
}
#slides {position:relative}
#slides a {
	position:absolute;
	top:0;
}
#slidenav {
	text-align: center;
	z-index: 10;
	position: absolute;
	bottom:10px;
	width:100%
}
#slidenav span {
	cursor: pointer;
	display: inline-block;
	width:15px;
	height: 14px;
	margin:2px;
	background:url(../images/slidenav_bg.png) no-repeat scroll 0 -14px transparent;
}
#slidenav span.activeSlide {
	background-position: 0 0;
}
a.learn_more {
	text-indent: -9999px;
	display:block;
	width:162px;
	height:37px;
	margin:10px auto;
	background:url(../images/learn_more_btn.png) no-repeat 0 0 scroll transparent;
}
.items:after, .gallery-box .wrapper:after, .info-area .wrapper:after {
    clear: both;
    content: "";
    display: block;
}
.gallery-box {
    color: #555555;
    display: table;
    width: 100%;
}
.gallery-box ul.items li p {
    font-size: 13px;
}
.gallery-box p {
    font-size: 14px;
    line-height: 15px;
    margin-top: 10px;
    text-align: center;
}
.gallery-box span {
	color:#2977a8;
}
.gallery-box .container {
    /*background: url(../images/bg-wrapper-central-part.gif) repeat-x scroll 0 0 transparent;*/
    overflow: hidden;
    padding: 5px 0 0;
    position: relative;
}
.gallery-box .holder {
    background: url(../images/new-slider-bg.png) repeat-x scroll 0 100% #FFF;
    padding: 0 0 12px;
}
.gallery-box h2 {
    color: #4a9fcc;
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding:0 33px;
    font-weight: normal;
}
.gallery-box h2 a {
	font-size:17px;
}
.gallery-box h2 span {
    float: left;
    left: 50%;
    position: relative;
}
.gallery-box h2 span span {
    float: left;
    left: -50%;
    position: relative;
}
.carousel {
    overflow: hidden;
    padding: 0 12px;
    width: 936px;
    position: relative;
}
.link-prev {
    background: url(../images/arrow-gallery.png) no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    margin: 60px 5px 0 0;
    text-indent: -9999px;
    width: 24px;
}
.link-next {
    background: url(../images/arrow-gallery.png) no-repeat scroll 100% 0 transparent;
    float: left;
    height: 22px;
    margin: 60px 0 0;
    text-indent: -9999px;
    width: 24px;
}
.carousel .hold {
	float:left;
    overflow: hidden;
    width: 883px;
    position: relative;
}
.carousel ul {
    height: 175px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 9999px;
}
.carousel ul li {
    float: left;
    height: 116px;
    margin: 8px 5px 0 0;
    padding: 5px;
    width: 160px;
    border:1px solid #ccc;
    background: #fff;
}
.items {
    color: #555555;
    line-height: 17px;
    list-style: none outside none;
    margin: 0;
    padding: 8px 0 12px;
    width: 990px;
}
.items li {
    float: left;
    text-align: center;
    margin: 0 18px 0 -4px;
    padding: 32px 24px 32px 28px;
    width: 261px;
}
.items h3 {
    color: #393939;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
}
.img-holder {
    background: url(../images/bg-img-holder.png) no-repeat scroll 0 100% transparent;
    margin: 0 0 6px -20px;
    padding: 0 4px 15px 15px;
}
.items img {
    vertical-align: top;
}
.btn {
    background: url(../images/bg-btns.gif) no-repeat scroll 100% -70px transparent;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 0 -5px;
    padding: 0 5px 0 0;
}
.btn span {
    background: url(../images/bg-btns.gif) no-repeat scroll 0 -100px transparent;
    float: left;
    height: 30px;
    padding: 0 0 0 9px;
}
.main .wrapper {
    background: url(../images/bg-wrapper.jpg) no-repeat scroll 0 0 #FFF;
    padding: 30px 22px 20px 20px;
    width: 918px;
    background: #fff;
	overflow:hidden;
}
#content {
    float: right;
    font-size: 14px;
    line-height: 1.4em;
    width: 690px;
    margin-right:10px;
    position: relative;
}

.home #content .item-page > h2 {
	color:#499ecb !important;
	margin:0 !important;
	background:none !important;
	padding:0 !important;
	font-size:22px !important;
}

#content h1,
#content h2,
#content h3 {
	font-weight: normal;	
}
#content h4 {
	font-weight:normal;
	font-size: 20px;
	color:#499ecb;
}

#content h6 {
    color: #6B4D40;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em !important;
    margin: 0 0 0.25em !important;
}


.home #content {
	width:auto;
	padding:0 15px;
}
#content p {
    margin: 0 0 20px;
}
.main h3 {
    color: #4a9fcc;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px;
}
.main .blogpost h3 {
    color: #CB6ACC;
}
.main h1 {
    color: #4a9fcc;
    line-height: 24px;
    margin: 0 0 16px;
}
/*#content .alignleft,
#content .alignright {
    border: 1px solid #DCDBDB;
    float: left;
    margin: 2px 16px 2px 0;
    padding: 6px;
}
#content .alignright {
	float:right;
    margin: 2px 0 2px 16px;
}*/
#sidebar {
    float: left;
    width: 180px;
    margin-right:10px;
    padding-right:10px;
    padding-bottom:10px;
}
#sidebar h3 {
    margin: 0 0 13px;
}
.info-holder {
    margin: 0 0 10px;
    padding: 0 0 10px;
    position: relative;
}
.info-list {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 13px 10px;
    width: 280px;
}
.info-list li {
    display: inline-block;
    margin: 0 15px 11px 0;
    text-align: center;
}
.info-list em {
    color: #666666;
    font-size: 10px;
}
* + html .info-list li {
    display: inline;
}
.image-box {
    border: 1px solid #DCDBDB;
    margin: 0 0 6px;
    padding: 5px;
    width: 107px;
}
.info-list .image-box img {
    border: 2px solid #B9B9B9;
    vertical-align: top;
}
.info-list em {
    display: block;
}
.more {
    background: url(../images/bg-btns.gif) no-repeat scroll 100% -130px transparent;
    bottom: -9px;
    color: #FFF;
    font-size: 11px;
    height: 18px;
    left: 104px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    width: 55px;
}
.video-list {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 11px 0 16px 8px;
    width: 280px;
}
.video-list li {
    float: left;
    margin: 0 10px 12px 0;
    text-align: center;
}
.video-list div {
    border: 1px solid #DCDBDB;
    padding: 5px;
    width: 69px;
}
.video-list li img {
    vertical-align: top;
}
.testimonial-list {
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    text-align: justify;
}
.testimonial-list li {
    border-bottom: 2px dotted #AAAAAA;
    list-style-type: none;
    margin: 0 20px;
    padding: 20px 0 0;
}
.testimonial-list img {
    border: 1px solid #CCC;
    float: left;
    height: auto;
    margin-bottom: 15px;
    margin-right: 15px;
    max-height: 200px;
    max-width: 200px;
    padding: 4px;
    width: auto;
}
#content img {
    border: 1px solid #CCC;
    padding: 4px;
}
.testimonial-list h6 {
    color: #006495;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}
.blogpost {
    border-bottom: 2px dotted #AAAAAA;
    margin: 0 20px;
    padding: 30px 0 0;
}
#content .blogpost .date, #sidebar .date {
    color: #777777;
    margin: -5px 0 25px;
}
#sidebar .date {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#sidebar .recentblog li {
    margin-bottom: 10px;
}
#content .blogpost img {
    border: 1px solid #CCC;
    margin: 10px;
    max-width: 300px;
    padding: 4px;
}
#sidebar ul,
.resource-list {
    padding: 0;
    margin:0;
}
#sidebar ul li,
.resource-list li {
    list-style-type: none;
    margin: 0;
    vertical-align: middle;
}
#sidebar ul a,
.resource-list a {
    line-height: 16px;
    color:#63372a;
    font-size:13px;
    padding:10px 0 10px 20px;
    background:url(../images/heart_li_sidebar.png) no-repeat 0 12px scroll transparent;
    border-bottom:1px dashed #dad4cd;
    display: block;
}
#sidebar ul a:hover,
.resource-list a:hover,
#sidebar ul .active a,
.resource-list .active a {
	color:#499ecb;
	background-image:url(../images/heart_li_sidebar_active.png);
}
.pdf li {
    background: url(../images/pdf-icon.gif) no-repeat scroll 0 3px transparent;
    margin-left: 6px;
}
.photolarge {
    border: 1px solid #CCC;
    float: left;
    height: auto;
    margin-bottom: 25px;
    margin-right: 25px;
    max-width: 400px;
    padding: 4px;
    width: auto;
}
#footer {
    background: url(../images/bg-footer.jpg) repeat-x scroll 0 0 #373737;
    color: #939393;
    font-size: 10px;
    line-height: 16px;
    overflow: visible;
}
#footer .wrapper {
    background: transparent !important;
    padding: 53px 0 40px;
	width:970px;
	margin:0 auto;
}
#footer .wrapper a:hover {
    color: #FFF;
    text-decoration: none;
}
.column {
    float: left;
    font-size: 11px;
    line-height: 23px;
    margin: 0 25px;
    padding: 0 5px;
}
.column p {
	line-height:15px;
	margin-top:0;
}
.column.first {
	width:225px;
}
.column.second {
	width:266px;
}
.column.third {
	width:280px;
}
.column h4 {
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 19px 4px;
}
.column .text-holder dl p img,
.column .text-holder .dl p img {
	float:right;
	padding: 0 0 5px 5px
}
#footer .holder {
    background: url(../images/bg-footer-border.gif) repeat-y scroll 0 0 transparent;
    overflow: hidden;
}
.column dl,
.column .dl {
	border-top:2px solid #4b4b4b;
    margin: 0;
    padding: 10px 0 14px;
    line-height: 1.5em;
}
.column dd,
.column .dd {
    margin: 0 0 0.5em;
    float: right;
    width: 140px;
}
.column dl:after {
	clear: both;
	content: "";
	display: table;
	visibility: hidden;
}
.column dt,
.column .dt {
    float: left;
    width: 75px;
    margin: 0 0 0.5em;
    clear: both;
}
.column dl a,
.column .dl a {
    color: #FFF;
}
.column a.livechat {
	color:#499ECB;
}
#footer .column a.livechat:hover {
	color:#499ECB !important;
	text-decoration: underline;
}
.column ul {
    font-size: 10px;
    line-height: 17px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.column ul li {
	border-top:2px solid #4b4b4b;
    overflow: hidden;
    padding: 8px 10px 7px 10px;
}
.column .h5 {
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
}
.column ul a {
    color: #939393;
    float: left;
    margin: 0 18px 0 0;
}
.copyright-block {
	font-size:12px;	
    background-color:#2E2E2E;
    color: #979797;
}
.copyright-block .wrapper {
	background-color:#2e2e2e!important;
    padding: 15px;
    width: 915px;
	margin:0 auto;
}
.copyright-block .ee {
	float:right;
	margin-right:160px;
}
.copyright-block p {
    margin: 0;
}
.copyright-block a {
    color: #A9A9A9;
    margin: 0 2px;
}
.copyright-block a:hover {
    text-decoration: underline;
}
ul.bluehearts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bluehearts > li {
    background: url("../images/heart-bullet2.png") no-repeat scroll 0 4px transparent;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-bottom: 0 !important;
    padding-left: 20px !important;
    padding-top: 0 !important;
}
ul.brownhearts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.brownhearts > li {
    background:url("../images/brown-heart-bullet.jpg") no-repeat scroll 0 3px transparent;
    margin-bottom: 1em;
    margin-left: 20px;
    padding-left: 25px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.application-page #content .free-app-box {
	background-image:url(../images/free_app_header_bg.jpg);
	width:887px;
	position:relative;
}
.application-page #content .free-app-box h2 {
	margin-bottom:20px;
}
.application-page #content .free-app-box p {
	width:700px;
	margin-bottom:10px;
}
.application-page #content .free-app-box .date {
	position: absolute;
	top:0;
	right:200px;
}

#content .info-box {
	background:url(../images/grad-box.png) no-repeat scroll 0 0 transparent;
    background-size: cover;
	width:330px;
	height:105px;
	padding:15px;
	float:left;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
}
.get-started-box,
.info-box.livechat {
	margin-right:15px;
}
#content .info-box div {
	/*padding-left:60px;*/
}
.info-box h2 {
	font-size:19px;
	padding:5px 0 10px 0;
	text-align: center;
}
.info-box p {
    margin-bottom: 5px !important;
    text-align: center;
    line-height: 1.2em;
}
.info-box img {
	border:none !important;
	padding:0 !important;
	position: absolute;
	top:82px;
}
.btn-get-started {
	margin-left:50px;
}
.btn-request-info {
	margin-left:50px;
}
.click-to-chat {
	margin-left:50px;
	margin-top:10px;
}
.rsform-block-submit .rsform-submit-button,
.application-page #content input[type=submit] {
	text-indent: -9999px;
	width: 197px;
	height:37px;
	background:url(../images/btn-submit-app-blue.png) no-repeat 0 0 scroll transparent;
	border:none;
	cursor: pointer;
	text-transform: capitalize;
}
.rsform-block-submit .rsform-submit-button,
#rsform_5_page_0 .rsform-submit-button {
	background:url(../images/btn-submit-blue.png) no-repeat 0 0 scroll transparent !important;
	width: 168px !important;
	float:left;
}
.rsform-calendar-box {
	float:left;
}
#btn3_0 {
    float: left;
    margin-left: 10px;
    margin-top: 1px;
}
#userForm fieldset,
.application-page #content .section {
    background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 6px 6px 6px;
    margin:0 0 30px;
    padding-bottom:20px;
}
#userForm fieldset:after,
.application-page #content .section:after {
	content: "";
	clear:both;
	display:block;
}
#userForm fieldset legend,
.application-page #content .section h6 {
    background: none repeat scroll 0 0 #4a9fcc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    margin-bottom:5px !important;
    padding: 6px 0;
    text-align: center;
    width:100%;
    display: block;
    font-family:'Times New Roman', Times,serif;
}
.application-page #content .section h6 {
	margin-bottom:15px !important;
}
#ajaxUpload span {
    background: none repeat scroll 0 0 #4A9FCC;
    border: 1px solid #000;
    color: #FFF;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding: 7px 10px;
}
.application-page #content .section h6 span {
    font-size: 14px;
}
#userForm .formCaption,
.application-page #content label {
    clear: left;
    display: block;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
    text-align: right;
    width: 275px;
}
#userForm .formBody,
.application-page #content input,
.application-page #content select,
.application-page #content textarea {
    display: block;
    float: left !important;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-top: 0;
    font-size:12px;
    font-weight: normal;
}
.application-page #content select {
	width: 210px;
}
#crmWebToEntityForm input[type="checkbox"] {
	margin-right: 250px;
	width: 20px;
}

#rsform_4_page_0.formContainer .rsform-block-allthatapply label,
#rsform_4_page_0.formContainer .rsform-block-lookingtoadopt label,
#rsform_3_page_0.formContainer .rsform-block-allthatapply label,
#rsform_3_page_0.formContainer .rsform-block-lookingtoadopt label {
	height: auto !important;
}

.application-page .section p {
	padding:0 30px;
}
#content #userForm textarea,
.application-page #content textarea {
	margin-left:30px !important;
	width:580px;
}
.application-page #content label.radio, .application-page #content input[type=radio] {
    clear: none;
    display: inline;
    float: left;
    width: auto;
}
.application-page #content label.radio {
    margin: 0 0 0 14px;
    padding: 0;
}
.application-page #content input[type=radio] {
    margin: 0 0 0 3px;
    padding: 0;
    position: relative;
    top: 3px;
}

#content p {
    color: #000;
}

.hidden {
    display:none;
}

.free-app-box {
	background:url(../images/free-app-box_bg.jpg) no-repeat 0 0 scroll transparent;
	width:588px;
	height:152px;
	padding:15px;
	position: relative;
	margin-bottom: 20px;
}
.sidebar_free-app-box {
	background:url(../images/sidebar_free-app-box.jpg) no-repeat 0 0 scroll transparent;
	width:230px;
	height:460px;
	padding:20px;
	text-align: center;
}
.free-app-box a {
	background:url(../images/free_application.png) no-repeat 0 0 scroll transparent;
	width:155px;
	height:37px;
	text-indent: -9999px;
	display: block;
	position: absolute;
	top:13px;
	right:20px;
}
.sidebar_free-app-box a {
	background:url(../images/free_application.png) no-repeat 0 0 scroll transparent;
	width:155px;
	height:37px;
	text-indent: -9999px;
	display: block;
	margin:auto;
}

.free-app-box h2,
.info-box h2 {
	color:#7F5B4B !important;
}


.sidebar_free-app-box h2,
.free-app-box h2,
.info-box h2 {
	margin:0;
	font-weight: normal;
	text-transform:uppercase;
	color:#45261d;
}
.sidebar_free-app-box span,
.free-app-box span {
	color:#5c3894;
	font-size:16px;
	display: block;
	padding:15px 0;
	font-weight: bold;
}
.sidebar_free-app-box span span,
.free-app-box span span {
	color:red;
	display: inline;
}
.free-app-box p {
	width:425px;
}
.sidebar_free-app-box p {
	line-height:18px;
	font-size:14px;
}
.marketing {
	background-color:#FFF;
}
.spot-marketing {
	width:454px;
	height:183px;
	background:url(../images/spot_ir.jpg) no-repeat 0 0 scroll transparent;
	float:left;
	position: relative;
	margin:12px;
}
.spot-marketing h2 {
	margin:0;
	font-weight: normal;
	text-transform:uppercase;
	color:#45261d;
	position: absolute;
	top:20px;
	left:150px;
	padding-top:5px;
}
.spot-marketing a {
	background:url(../images/info_request_btn_wide.png) no-repeat 0 0 scroll transparent;
	width:216px;
	height:37px;
	text-indent: -9999px;
	display: block;
	margin:auto;
	position: absolute;
	top:120px;
	left:170px
}
.spot-marketing p {
	text-align: center;
	width:280px;
	height:30px;
	position: absolute;
	top:50px;
	left:150px
}
.spot-marketing p span {
	color:red;
}
.spot-marketing.free-app {
	background-image:url(../images/spot_fa.jpg);
}
.spot-marketing.free-app h2,
.spot-marketing.free-app a,
.spot-marketing.free-app p {
	left:40px !important;
}
.spot-marketing.free-app p {
	width:190px;
}
.spot-marketing.free-app a {
	background:url(../images/free_app_btn_wide.png);
}


.pagination {
    border-bottom: 1px solid #f5f1f0;
    border-top: 1px solid #f5f1f0;
    margin: 10px 0;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 100%;
    font-style:italic;
}
.pagination ul {
	margin:0;
	padding:0;
}
.pagination li {
	display:inline;
}
.pagination span.pagenav {
    color: #666666;
    padding:0 2px;
}
.pagination a.pagenav {
    color: #2396CE;
    text-decoration: none;
    padding:0 2px;
}
.pagination .pagination-prev {
    color: #2396CE;
    left: 0;
    position: absolute;
    top:-5px;
}
.pagination .pagination-next {
    color: #2396CE;
    position: absolute;
    right: 0;
    top:-5px;
}
.pagination .pagination-start,
.pagination .pagination-end {
	display:none;
}

#content ul.waiting-families {
	list-style: none outside none;
	padding:0;
}
#content ul.waiting-families li {
	clear:both;
	padding-bottom:15px;
	margin-bottom:15px;
	margin-top:10px;
	border-bottom:1px dashed #DAD4CD;
	position: relative;
}
#content ul.waiting-families li img.feature {
	float: left;
	margin:0 10px 10px 0;
	padding:6px;
	width: 165px;
	height: 120px;
}
#content ul.waiting-families li img.feature2 {
	position: absolute;
	margin:0 10px 10px 0;
	padding:6px;
	width: 165px;
	height: 120px;
	top: 160px;
	left:0;
}

#content ul.waiting-families li .success-story {
	float:right;
	width: 500px;
}

/* PROFILES STUFFS */


#profile_tabs .section p {
	padding-bottom:10px;
}
#user_profile #favorites ul {
	padding:0;
}
#user_profile #favorites li {
	padding: 5px 0;
	color:#499ECB;
    line-height: 16px;
    list-style: none;
}
#user_profile #favorites li span {
	font-weight: bold;
	color:#555;
}
#user_profile .featured_fav {
	float:right;
}
hr {
	background:url(../images/hr.png) no-repeat scroll center center transparent;
	width:681px;
	height:24px;
	border:none;
}
#user_profile a[rel="lightbox"] {
	position: relative;
	padding:10px;
	float:right;
	margin:0 0 10px 10px;
}
#user_profile a[rel="lightbox"] span {
	background:url(../images/zoom_in.png) no-repeat top right scroll transparent;
	display:block;
	position: absolute;
	width:76px;
	height:30px;
	bottom:14px;
	right:14px;
}
#user_profile > a {
	float:left;
	display:block;
}
#user_profile .links {
	float:right;
	width:490px;
}
#user_profile .links a {
	display:block;
	float:left;
	width:75px;
	padding-left:40px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size:10px;
	font-weight: bold;
	background: url(../images/profile-icons.jpg) no-repeat 0 0 scroll transparent;
}
#user_profile .links .pdf {
	background-position: 0 -36px
}
#user_profile .links .gallery {
	background-position: 0 -73px
}
#user_profile h3 {
	font-weight: normal;
	text-transform: capitalize;
	color:#2977a8;
	font-size:18px;
}

#profile_top {
	position:relative;
}
#user_profile #profile_top h2 {
	color:#45261d;
	font-size:30px;
	font-weight: normal;
	line-height:32px;
	padding-bottom:5px;
	margin-top:0;
	margin-bottom:10px
}
#profile_top #quick_info {

}
#profile_top #quick_info p {
	margin-bottom:10px;
	color:#2977a8;
}
#profile_top span {
	color:#bbab9d;
	text-transform: uppercase;
	display:block;
}
#user_profile #quick_info p {
	line-height: 16px
}
#quick_info .buttons .contact {
	background:url(../images/contact_this_family.png) no-repeat 0 0 scroll transparent;
	display: inline-block;
	width:219px;
	height:37px;
	text-indent:-9999px;
	float:left;
}
#quick_info .buttons .video {
	background:url(images/view_video.png) no-repeat center center scroll transparent;
	display: inline-block;
	width:98px;
	height:90px;
	text-indent:-9999px;
	margin-left:37px;
	float:left;
}

#profile-photos .thumbs img {
	padding: 4px;
	border: 1px solid #CECECE;
	margin: 0 12px 0 0;
	cursor: pointer;
}
#profile-photos {
	position: relative;
	background:url(/template/images/profile_photo_bg.png) no-repeat 0 0 scroll transparent;
	height:260px;
}
#profile-photos .main-photo {
	margin: 0 5px 5px 0;
	position: absolute;
}

#profile-photos .thumbs {
	width: 325px;
	height: 70px;
}

#profile-photos .thumbs .next , #profile-photos .thumbs .prev {
	z-index: 1000;
	background: url(images/cycle_prev_next.old.png) no-repeat scroll 0 0px transparent;
	cursor: pointer;
	position: absolute;
	left: 255px;
	top: 0px;
	display: none;
	width: 20px;
	height: 44px;
}

#profile-photos .thumbs .prev {
	left: 0px;
	background-position: 0 -44px;
}

#profile-photos .thumbs_container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	height: 70px;
}

#user_profile h2 {
	/*font-family: 'La Belle Aurore', cursive;*/
	font-size:26px;
	line-height:16px;
}

#user_profile #tabs-2 img {
	float:right;
	margin:0 0 10px 15px;
	padding:5px;
	border:1px solid #DD6BA5;
	
}

#user_profile h4 {
	margin:15px 0 10px 0;
}
#user_profile p {
	line-height:20px;
}
#contact_block .cb-first {
	width:175px;
} 
#contact_block div {
	float:left;
	width:auto;
}
#contact_block {
	color:#2977a8;
	line-height: 1.5em;
}
#contact_block span {
    color: #BBAB9D;
    display: inline-block;
    text-transform: uppercase;
    width: 5em;
}
#contact_block img {
	float:right;
}

form.contact-form textarea {
	height:180px;
}
form.contact-form .bfRequired {
	display:none;
}
#content form.contact-form p {
	margin:0;
}
#dear_birthmother h3,
#dear_birthmother p {
	font-size:14px;
	color:#000;
	font-style: italic;
	font-weight: normal;
}
#dear_birthmother h3 {
	font-weight: bold;
}

/**** Pregnant Pages ****/
.symptoms-box {
	background:url(../images/pregnancy-symptoms.png) no-repeat 0 0 scroll transparent;
    height: 350px;
    padding: 30px 40px;
    width: 603px;
}
.symptoms-box h1 {
    padding: 0 0 20px 90px;
}
.symptoms-box ul {
	float:left;
}
.symptoms-box ul li {
    font-style: italic;
    line-height: 1.45em;
    margin-bottom: 0.5em;
    padding:0 !important;
}
.symptoms-box h1 + ul {
	width: 255px;
	padding-right:30px;
}

.preg-q {
	background:url(../images/waiting_families_dropshadow.png) no-repeat center bottom scroll transparent;
	padding-bottom:25px;
	margin-bottom:15px;
}
.preg-q h3 {
}
.preg-q h3 span {
	font-size:40px;
	margin-right:0.25em;
}
.preg-q img {
	float:right;
	border:none !important;
}
.preg-q p strong span {
	color:#499ECB;
}
.preg-q p a {
	font-style: italic;
}
.q-family-pic {
	padding:0 20px 10px 0 !important;
	float:left !important;
}
.q-logo-sm {
    border: medium none !important;
    left: 585px;
    position: absolute;
    top: 15px;
}
.available-callout,
.home-study-callout {
	border:1px solid #e9e7e3;
	background: url(../images/sm_grad_bg.png) repeat-x bottom center #fcfbfa;
	position: relative;
	padding:10px 20px 10px 85px;
	height:40px;
	margin:20px 0;
}
.home-study-callout {
	height:52px !important;
}
.available-callout img {
    border: medium none !important;
    left: -15px;
    position: absolute;
    top: -16px;
}
.home-study-callout img {
    border: medium none !important;
    left: -15px;
    position: absolute;
    top: -11px;
}
.available-callout p,
.home-study-callout p {
	margin:0;
	color:#45261D !important;
	font-weight: bold;
}
.available-callout p span,
.home-study-callout p span {
	color:#499ECB;
}
.blue {
	color:#499ECB !important;
}
.birthmother-story-girl {
    border: medium none !important;
    float: right;
    margin-right: -32px;
    margin-top: -55px;
    padding: 0 !important;
}
.birthfather-girl {
    border: medium none !important;
    float: right;
    margin-right: -32px;
    margin-top: -65px;
    padding: 0 !important;
}
.brown-feet {
	float:left;
	padding:0 10px 0 0 !important;
	border:none !important;
}
.worksheet-list li {
	margin-bottom:1em;
}
h4.brown-h {
    color: #BBAB9D !important;
    line-height: 46px;
}

.differences-box,
.app-box {
	border:1px solid #e9e7e3;
	background: url(../images/lg_grad_bg.png) repeat-x bottom center scroll #fcfbfa;
	padding:15px;
	position: relative;
}
.app-box {
	margin:0 20px 20px 20px;
	padding:15px 0 0 15px !important;
	height: 165px;
}
.app-box p {
	width: 475px;
	margin-bottom:10px !important;
}
.app-box p.disclaimer {
	font-size:10px;
	font-style: italic;
	line-height: 1.2em;
}
.application-page .item-page h2 {
	display:none !important;
}
.app-box img {
	position: absolute;
	right:0;
	bottom:5px;
	padding: 0 !important;
	border:none !important;
}
.app-box h3 {
	color:#45261d;
	font-size:21px;
	text-transform: uppercase;
	display: inline-block;
	margin-right:1em;
}
.app-box span {
	color:#5c3894;
	font-weight:bold;
	font-size:15px;
}
.app-box span span {
	color:#f90000;	
}
.differences-box h4 {
    background: url(../images/waiting_families_dropshadow.png) no-repeat scroll center 30px transparent;
    color: #45261D !important;
    height: 50px;
    margin: 0 !important;
    padding-top: 0;
    text-align: center;
}
.vs-adoption {
	float:left;
	width: 310px;
	font-style: italic;
	padding:0 20px 0 0 !important;
}
.vs-abortion {
	float:left;
	width: 290px;
	font-style: italic;
}
.differences-box ul li {
	padding:0 !important;
	margin-bottom:0.5em;
	line-height: 1.3em;
}
.vs-abortion img,
.vs-adoption img {
	border:none !important;
	padding:0 0 10px 75px !important;
}
.adopt-vs-abort-girl {
	border: none !important;
	float:left;
	padding: 0 20px 20px 0 !important;
}
.step-box {
	background: url(../images/step-box.jpg) no-repeat scroll 0 0 transparent;
	color: #FFF;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    text-indent: 32px;
    text-transform: uppercase;
    width: 87px;
    margin-right:10px;
}
span.step-box + h3 {
	display: inline-block;
}
.packet-right {
	float:right;
	border:none !important;
}
.step-wrap {
	margin-bottom:25px;
}
.step-wrap p {
	margin-bottom:1em !important;
}
.brown {
	color:#6B4D40 !important;
}
.tan {
	color:#bbab9d !important;
}
.serif {
	font-family:'Times New Roman', Times,serif;
}


/*** Due Date Calc ***/

#duedate_calc input, #duedate_calc select {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #666666;
}
#duedate_wrapper {
    margin: 0 auto;
    width: 90%;
}
#duedate_calc {
    background: url(../images/lg_grad_bg.png) repeat-x scroll bottom center #fcfbfa;
    border:1px solid #e9e7e3;
    border-radius: 0 0 5px 5px;
    height: 275px;
    width: 620px;
    padding-top:20px;
}
#duedate_calc img {
	border: none !important;
	padding:0;
}
#duedate_h {
    background: none repeat scroll 0 0 #6D6D6D;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    width: 600px;
}
#duedate_h h2 {
    color: #fff;
    margin: 0;
    text-align: center;
}
#duedate_form_labels {
    float: left;
    margin-right: 10px;
    width: 320px;
}
#duedate_form_labels label {
    display: block;
    margin-bottom: 8px;
    text-align: right;
}
#duedate_form_values {
    float: left;
    width: 290px;
}
#duedate_form_date {
    padding-bottom: 5px;
}
#duedate_form_values input {
    margin-bottom: 9px;
    margin-top: 3px;
    text-align: right;
    width: 166px;
}
.calcimg {
    margin-bottom: 14px;
    margin-top: 18px;
}
/*** End Due Date Calc ***/

.img-float-left {
	float:left;
	padding:0 20px 20px 0 !important;
	border: none !important;
}
.img-float-right {
	float:right;
	padding:0 0 20px 20px !important;
	border: none !important;
}

.credit-union-box {
	background: url(../images/credit-union.jpg) no-repeat scroll 0 0 transparent;
	width: 662px;
	height:433px;
	padding:40px 0 0 20px;
}
.credit-union-box p {
	width: 295px;
	margin-bottom:1.35em !important;
}
.baby-packet {
	margin-bottom:20px !important;
}

.prego-info-rec {
	position: relative;
}
.prego-info-rec div {
	float:right;
}
.prego-info-rec div img {
	border:none !important;
	padding:0 !important;
	margin-left:20px;
}
.prego-info-rec div p {
	text-align: center;
	font-size:16px;
	font-weight:bold;
}
.prego-info-rec div p span,
.prego-info-rec div p a {
	color:#499ECB;
	font-style: italic;
	font-size:18px;
}
.hoping-info-rec {
	height: 150px;
	background:url(../images/waiting_families_dropshadow.png) no-repeat center bottom scroll transparent;
	margin-bottom:10px;
	position: relative;
}
.prego-info-rec {
	height:340px;
}
.prego-info-rec ul.bluehearts li {
	margin-bottom:10px;
}

.hoping-info-rec img {
	position: absolute;
	right:0;
	top:0;
	border:none !important;
	padding:0 !important;
}
.prego-info-rec p,
.hoping-info-rec p {
	width: 370px;
	line-height: 1.5em !important;
}
.prego-info-rec p span,
.hoping-info-rec p span {
	color:#cc0000;
}
#content .prego-info-rec p.phone {
	color:#306;
	font-size:18px;
}


.moduletable.newsletter {
	background:url(../images/newslettersignup.png) no-repeat scroll 0 0 transparent;
	width: 182px;
}
.moduletable.newsletter .custom.newsletter {
	min-height:175px;
	padding:130px 10px 0 10px;
}
.moduletable.newsletter input[type=text] {
    width: 148px;
    margin-bottom:16px;
    border-top:1px solid #ccc;
    border-left:1px solid #f1efe9;
    border-right:1px solid #f4f3ef;
    border-bottom:1px solid #f0efea;
    color:#969696;
    font-size:11px;
    padding:3px 3px 3px 7px;
}
.moduletable.newsletter #mc-embedded-subscribe {
	margin-left:20px;
}
#mc_embed_signup div.mce_inline_error {
    background-color: #CC7B7B !important;
    color: #FFF !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    margin: -15px 3px 0 0 !important;
    padding: 3px 9px !important;
}

#mce-responses div {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 30px;
    background: none repeat scroll 0 0 #F5F4F0;
    border: 1px solid #E9E7E3;
    width: 150px;
    padding: 5px;
    text-align: center;
}
#content .alignright {
	float:right;
	margin:0 0 5px 5px;
	border:0;
}
#content .alignleft {
	float:left;
	margin:0 15px 5px 0;
	border:0;
}
#content .aligncenter {
	clear:both;
	margin:5px;
	border:0;
}
span.tel {
	color:#2977a8;
}
.page-head,
#content .item-page > h2 {
	font-size:28px;
	margin:0;
	line-height: 25px;
	padding-bottom:25px;
	margin-bottom:-15px;
	background:url(../images/heading_dropshadow.png) no-repeat bottom center scroll transparent;
	color:#499ECB;
}
#content h4 {
	margin-bottom: 5px;
}
#content ul li {
	padding:10px 0;
}

form .formFieldset .formContainer .formFieldset .formContainer li {
	padding:10px 5px;
}
form .formFieldset .formContainer .rsform-block-callasblocked .formBody,
form .formFieldset .formContainer .rsform-block-mailpacket .formBody,
form .formFieldset .formContainer .rsform-block-traditionalfamily .formBody,
form .formFieldset .formContainer .rsform-block-singlewoman .formBody,
form .formFieldset .formContainer .rsform-block-sexofbaby .formBody {
	font-weight: bold;
	color:#401070;
	text-transform: lowercase;
}
form .formFieldset .formContainer .rsform-block-sexofbaby .formCaption2 {
	width: 270px;
	float:left;
	margin-top:5px;
}
form .formFieldset .formContainer .rsform-block-callasblocked .formCaption2,
form .formFieldset .formContainer .rsform-block-mailpacket .formCaption2,
form .formFieldset .formContainer .rsform-block-traditionalfamily .formCaption2,
form .formFieldset .formContainer .rsform-block-singlewoman .formCaption2 {
	width: 400px;
	float:left;
	margin-top:5px;
}
form .formFieldset .formContainer .rsform-block-callasblocked label,
form .formFieldset .formContainer .rsform-block-mailpacket label,
form .formFieldset .formContainer .rsform-block-traditionalfamily label,
form .formFieldset .formContainer .rsform-block-singlewoman label,
form .formFieldset .formContainer .rsform-block-sexofbaby label {
	padding-right:10px;
}
form .formFieldset .formContainer .rsform-block-duedate {
	float:left;
	clear:both;
}
form .formFieldset .formContainer .rsform-block-yourrace .formCaption2,
form .formFieldset .formContainer .rsform-block-allthatapply label,
form .formFieldset .formContainer .rsform-block-allthatapply input,
form .formFieldset .formContainer .rsform-block-lookingtoadopt label,
form .formFieldset .formContainer .rsform-block-lookingtoadopt input {
	display:block;
	float:left;
}
form .formFieldset .formContainer .rsform-block-besttimetocall .formCaption2,
form .formFieldset .formContainer .rsform-block-babysfathersrace .formCaption2,
form .formFieldset .formContainer .rsform-block-yourrace .formCaption2 {
	display: block;
}
form .formFieldset .formContainer .rsform-block-address,
form .formFieldset .formContainer .rsform-block-callasblocked,
form .formFieldset .formContainer .rsform-block-commentsquestions,
form .formFieldset .formContainer .rsform-block-fullname {
	clear:both;
}
form .formFieldset .formContainer .rsform-block-allthatapply input,
form .formFieldset .formContainer .rsform-block-lookingtoadopt input {
    clear: both;
    height: 20px;
    margin-right: 10px;
}
form .formFieldset .formContainer .rsform-block-allthatapply .formBody,
form .formFieldset .formContainer .rsform-block-lookingtoadopt .formBody {
	width:350px;
}
form .formFieldset .formContainer .rsform-block-allthatapply label, form .formFieldset .formContainer .rsform-block-lookingtoadopt label {
    height: 20px;
    line-height: 25px;
    width: 300px;
}
form .formFieldset ol.formContainer li {
	padding:0 5px !important;
}
form .formFieldset {
	font-family: Arial,Helvetica,sans-serif;
}
fieldset.formFieldset ol.formContainer {
	padding-top:20px !important;
	position: relative;
}
#userForm .formDescription {
	clear:both;
}
#userForm {
	margin-top:15px;
}
h2.subhead {
	margin-top:0;
}

#sidebar .moduletable {
	margin-bottom:25px;
}
.item-577 {
	display:none
}
#content .blog .items-row {
	clear:both;
	padding-bottom:15px;
	margin-bottom:15px;
	margin-top:10px;
	border-bottom:1px dashed #DAD4CD;
}
#content .blog .items-row:after {
	content: " ";
	clear:both;
	display: block;
}

#content .width-160 {
	width:160px;
	border:1px solid #CCC;
}

dl.article-info {
	margin-top:0;
}
div.content-links,
dl.article-info .article-info-term {
	display:none;
}
dl.article-info .category-name,
dl.article-info .create {
	display:inline;
	margin-left:0;
}
.items-row .item > h2 {
	margin-bottom:5px;
}
.hide {
	display:none !important;
}
.application-page .item-579 {
	margin-top:-25px !important;
}
p.motto {
	text-align: center;
	font-style: italic;
	font-size: 16px;
}
.bio-box {
	border-bottom:1px dashed #dad4cd;
	min-height:165px;
	margin-bottom:15px;
	padding-bottom:15px;
}
.bio-box img {
	float:left;
	border:none !important;
	padding:0 10px 10px 0 !important;
}
.bio-box h3 {
    color: #2977A8;
    font-size: 19px;
    margin-bottom: 0.5em;
}
.bio-box h3 span {
	color:#499ecb;
}
.bio-box div {
	width: 517px;
	float:left;
}
.item-page.pregnant-page h2 {
	background:none !important;	
}
.nobold {
	font-weight: normal !important;
}
.preg-img-contain {
	float:right;
	padding-left:10px;
}
.preg-img-contain img {
	padding:0 !important;
	border:none !important;
}
.form-packet-img {
    border: medium none !important;
    float: left;
    margin: -60px 0 0 -15px;
}
.bm-form-info {
	float:left;
	width: 515px;
}
.form-border {
    border-bottom: 1px dashed #DAD4CD;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.rsform-block-singlewoman {
	margin-bottom:2px;
}
#userForm fieldset.formFieldset ol#rsform_3_page_0.formContainer .rsform-block-singlewoman div.formCaption {
	line-height: 1em;
}
.bm-carol-quote hr {
	margin:0 !important;
}
.bm-carol-quote h3 {
	font-size:18px;
	text-align: center;
	margin-top:-10px;
	margin-bottom:0.5em;
	line-height:1.2em;
	font-style: italic;
}
.bm-carol-quote h5 {
	color:#000;
	font-size:15px;
	text-align: center;
	margin:0 0 10px 0;
	font-style:italic;
	font-weight: normal;
}
.blog ul.bluehearts li {
	padding:0 0 0 20px !important;
	margin:0 0 2px 0;
}

.waiting-families li span[class|="banner"] {
	width: 109px;
	height: 99px;
	display: block;
	position: absolute;
	top: 0;
	left: -9px;
	background: url(../images/overlay-connected.png) repeat scroll 0 0 transparent;
	
}
.waiting-families li span.banner-adopted {
	background-image: url(../images/overlay-adopted.png);
}
.waiting-families li span.banner-i-adopted {
	background-image: url(../images/overlay-i-adopted.png);
}
.waiting-families li.fam-63 img.feature {
	width: 165px !important;
	height: 220px !important;
	
}
.popup-container {
    margin: 0 auto;
    width: 960px;
}
body #jlivechat_autopopup {
    background: none no-repeat scroll 0 0 rgba(70, 141, 185, 0.8) !important;
}
#jlivechat_autopopup .autopopup-center .autopopup-center-line1, #jlivechat_autopopup .autopopup-center .autopopup-center-line2 {
    display: inline-block !important;
}
#jlivechat_autopopup .autopopup-center .autopopup-center-line1 {
    margin-left: 100px !important;
    margin-right: 1em !important;
    margin-top: 10px !important;
}
a.autopopup-close-button, .autopopup-close-button {
    background: url("../images/window-close.png") no-repeat scroll 0 0 transparent !important;
    height: 28px !important;
    margin: 10px 10px 0 0 !important;
    width: 28px !important;
}
.click-to-chat-btn {
    background: none repeat scroll 0 0 #2875A9 !important;
    float: right;
    margin: 20px 70px 0 0;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.03em;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(0, 0, 0, 0.3) inset;
}
#livechat_container {
	background: #82C3E3 !important;
}
p.error {
	font-size:14px;
	text-align: center;
	padding:10px;
	border:1px solid #DE7A7B;
	background:#E6C0C0;
	margin-top:10px!important;
	color:#CC0000!important;
	font-weight: bold;
}

#sidebar .moduletable .favorites {
	background:url(../images/favorites-bg.png) repeat-x center top scroll #f0f2ed;
	border: 1px solid #e9e7e3;
	padding:45px 10px 10px 10px;
	position: relative;
	z-index: 4;
	min-height: 90px;
}
#sidebar .moduletable .favorites h3 {
	background:url(../images/h3-heart.png) no-repeat left center scroll transparent;
	color:#419dcd;
	font-weight: normal;
	font-style: italic;
	font-size:28px;
	text-transform: lowercase;
	text-align: center;
	height:116px;
	position: absolute;
	top:-25px;
	z-index: 5;
	width:180px;
	line-height: 100px;
}
#sidebar .moduletable .favorites .intro {
	position: relative;
	z-index: 6;
}
#sidebar .moduletable .favorites .contents {
	z-index: 7;
	position: relative;
}
#user_profile .links .add_fav {
	background-position: 0 -105px;
	width:110px;
	padding-left:30px;
}
body.waiting-families .pagination {
	text-align: right;
}
body.waiting-families .pagination span,
body.waiting-families .pagination a {
	float:none;
	background:none;
	text-indent:0;
	font-size:16px;
}
.tan-gradient {
    background: #fffefc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfcfa 1%, #fefdfb 21%, #fdfcfa 33%, #fbfaf8 35%, #fcfbf9 44%, #faf9f7 45%, #faf9f7 52%, #f8f7f3 54%, #fbfaf6 60%, #f8f7f2 64%, #f5f4ef 76%, #f7f6f1 84%, #f6f3ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fdfcfa), color-stop(21%,#fefdfb), color-stop(33%,#fdfcfa), color-stop(35%,#fbfaf8), color-stop(44%,#fcfbf9), color-stop(45%,#faf9f7), color-stop(52%,#faf9f7), color-stop(54%,#f8f7f3), color-stop(60%,#fbfaf6), color-stop(64%,#f8f7f2), color-stop(76%,#f5f4ef), color-stop(84%,#f7f6f1), color-stop(100%,#f6f3ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfa', endColorstr='#f6f3ee',GradientType=0 ); /* IE6-9 */
}
.button-brown {
    background: #6e4c43; /* Old browsers */
    background: -moz-linear-gradient(top,  #6e4c43 0%, #6d4b42 19%, #64463c 35%, #5a3c32 48%, #39211d 77%, #39211d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e4c43), color-stop(19%,#6d4b42), color-stop(35%,#64463c), color-stop(48%,#5a3c32), color-stop(77%,#39211d), color-stop(100%,#39211d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6e4c43 0%,#6d4b42 19%,#64463c 35%,#5a3c32 48%,#39211d 77%,#39211d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6e4c43 0%,#6d4b42 19%,#64463c 35%,#5a3c32 48%,#39211d 77%,#39211d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6e4c43 0%,#6d4b42 19%,#64463c 35%,#5a3c32 48%,#39211d 77%,#39211d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6e4c43 0%,#6d4b42 19%,#64463c 35%,#5a3c32 48%,#39211d 77%,#39211d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e4c43', endColorstr='#39211d',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 2px rgba(69,38,29,60);
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 20px 7px;
    text-decoration: none;
    font-family: "Minion Pro", Times, "Times New Roman", serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.button-brown:hover, .button-brown:focus {
    background: #97695c; /* Old browsers */
    background: -moz-linear-gradient(top,  #97695c 0%, #946659 23%, #8a6052 35%, #7c5244 48%, #754f44 52%, #5e3931 68%, #56332d 74%, #4f2e29 77%, #4f2e29 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97695c), color-stop(23%,#946659), color-stop(35%,#8a6052), color-stop(48%,#7c5244), color-stop(52%,#754f44), color-stop(68%,#5e3931), color-stop(74%,#56332d), color-stop(77%,#4f2e29), color-stop(100%,#4f2e29)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #97695c 0%,#946659 23%,#8a6052 35%,#7c5244 48%,#754f44 52%,#5e3931 68%,#56332d 74%,#4f2e29 77%,#4f2e29 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #97695c 0%,#946659 23%,#8a6052 35%,#7c5244 48%,#754f44 52%,#5e3931 68%,#56332d 74%,#4f2e29 77%,#4f2e29 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #97695c 0%,#946659 23%,#8a6052 35%,#7c5244 48%,#754f44 52%,#5e3931 68%,#56332d 74%,#4f2e29 77%,#4f2e29 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #97695c 0%,#946659 23%,#8a6052 35%,#7c5244 48%,#754f44 52%,#5e3931 68%,#56332d 74%,#4f2e29 77%,#4f2e29 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97695c', endColorstr='#4f2e29',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    color: #fff;
}
.home .home-block {
    width: 49%;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    padding: 16px;
    border: 1px solid #e9e7e3;
    box-sizing: border-box;
    height: 335px;
    vertical-align: top;
}
.home .home-block:first-child {
    margin-left: 0;
}
.home .home-block .video-frame {
    display: block;
    padding: 12px;
    background: url(/images/body_bg.png) repeat 0 0 #FFF;
    max-width: 317px;
    width: 100%;
    margin: 0 auto 2px;
}
.home .home-block iframe {
    display: block;
    margin: 0 auto;
}
.home .home-block h2 {
    font-family: "Minion Pro", Times, "Times New Roman", serif;
    color: #45261d;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 19px;
    font-weight: 400;
}
.home .home-block h2 span {
    color: #499ecb;
    font-style: italic;
    text-transform: none;
    font-size: 1.2em;
}
.home .home-block.tan-gradient.success {
    background: #fffefc; /* Old browsers */
    background: url(/images/home-success.png) center 24px no-repeat;
    background: url(/images/home-success.png) center 24px no-repeat, -moz-linear-gradient(top,  #fdfcfa 1%, #fefdfb 21%, #fdfcfa 33%, #fbfaf8 35%, #fcfbf9 44%, #faf9f7 45%, #faf9f7 52%, #f8f7f3 54%, #fbfaf6 60%, #f8f7f2 64%, #f5f4ef 76%, #f7f6f1 84%, #f6f3ee 100%); /* FF3.6+ */
    background: url(/images/home-success.png) center 24px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fdfcfa), color-stop(21%,#fefdfb), color-stop(33%,#fdfcfa), color-stop(35%,#fbfaf8), color-stop(44%,#fcfbf9), color-stop(45%,#faf9f7), color-stop(52%,#faf9f7), color-stop(54%,#f8f7f3), color-stop(60%,#fbfaf6), color-stop(64%,#f8f7f2), color-stop(76%,#f5f4ef), color-stop(84%,#f7f6f1), color-stop(100%,#f6f3ee)); /* Chrome,Safari4+ */
    background: url(/images/home-success.png) center 24px no-repeat, -webkit-linear-gradient(top,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* Chrome10+,Safari5.1+ */
    background: url(/images/home-success.png) center 24px no-repeat, -o-linear-gradient(top,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* Opera 11.10+ */
    background: url(/images/home-success.png) center 24px no-repeat, -ms-linear-gradient(top, #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* IE10+ */
    background: url(/images/home-success.png) center 24px no-repeat, linear-gradient(to bottom,  #fdfcfa 1%,#fefdfb 21%,#fdfcfa 33%,#fbfaf8 35%,#fcfbf9 44%,#faf9f7 45%,#faf9f7 52%,#f8f7f3 54%,#fbfaf6 60%,#f8f7f2 64%,#f5f4ef 76%,#f7f6f1 84%,#f6f3ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfa', endColorstr='#f6f3ee',GradientType=0 ); /* IE6-9 */
    position: relative;
}
.home .home-block.success .spacer {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
}
.home .block-container {
    background: #fff;
    padding: 20px 12px;
}
.social {}
.social:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}
.social a[class*="icon-"] {
	display: block;
	background: url(../images/social-icons.png) no-repeat 0 0 transparent;
	width: 39px;
	height: 41px;
	text-indent: -9999px;
	margin: 0 6px;
	float: left;
	opacity: 0.9;
}
.social a[class*="icon-"]:hover {
	opacity: 1;
}
.social .icon-facebook {
	background-position: 0 0;
	margin-left: 0 !important;
}
.social .icon-pinterest {
	background-position: 0 -100px !important;
}
.social .icon-google {
	background-position: 0 -150px !important;
}
.social .icon-twitter {
	background-position: 0 -50px !important;
}
.social .icon-youtube {
    background-position: 0 -200px !important;
    margin-right: 0 !important;
}
#footer .social {
    width: 250px;
}
/* jd css */
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.width1 {
    width: 10%;
}
.width15 {
    width: 15%;
}
.width2 {
    width: 20%;
}
.width3 {
    width: 30%;
}
.width4 {
    width: 40%;
}
.width5 {
    width: 50%;
}
.width6 {
    width: 60%;
}
.width7 {
    width: 70%;
}
.width8 {
    width: 80%;
}
.width9 {
    width: 90%;
}
.width10 {
    width: 100%;
}
.p-left {
    padding-left: 10px;
}
.p-right {
    padding-left: 10px;
}
.m-left {
    margin-left: 40px;
}
.m-right {
    margin-left: 10px;
}
.t-center {
    text-align: center;
}
.bbblink-box{
	position:relative;
	width:10%;
}
#mobile-menu{display:none;}
/* --------------- */
/* responsive css  */
@media screen and (min-width:240px) and (max-width:380px){
	body #logo{background-size:75% auto;}
	
}
/* -----end---- */
@media screen and (min-width:500px) and (max-width:750px){
	body .home-page-slider #slider #slides {height:100% !important;width:100%!important;padding:80px 0px;}
}
/* -----end---- */
@media screen and (max-width:500px){
	body .spot-marketing{width:93%;margin:0px; padding:20px 10px;}
	body .spot-marketing h2,body .spot-marketing p{left:0px; position:relative;top:0px;width:100%;}
	body .spot-marketing a{left:0px;position:relative;top:0px;}
	body .spot-marketing.free-app p{width:100%;}
	body .home-page-slider #slider #slides {height:100% !important;width:100%!important;padding:50px 0px;}
	#contact_block span {width:auto;}
	body #content .info-box {width:auto;}
	body .main-info .wrapper{padding:0px;}
	body.home .home-block .video-frame{padding:0px;}
	body .spot-marketing.free-app h2,body .spot-marketing.free-app a,body .spot-marketing.free-app p{left:0px !important;}
	body .img-float-right{width:100%;}
}
/* -----end---- */
@media screen and (max-width:767px){
	body .width4,body .width3,body .width5,body .width2{width:100%; float:none;display:inline-block;}
	body .column.first,body .column.second,body .column.third{width:auto; margin-bottom:20px;}
	/* Contact-us */
	body #userForm .formCaption,body .application-page #content label{width:100%;text-align:left;}
	body #content #userForm textarea,body .application-page #content textarea{width:95%;margin:0px !important;}
	body .copyright-block .ee{float:none;margin:0px;}
	body #userForm fieldset,body .application-page #content .section{float:left;}
	body .prego-info-rec div{float:none;display:inline-block;width:100%;text-align:center;}
	body #content ul li{width:90%;float:left;margin-left:10px;}
	body #content ul.bluehearts li{width:90%;float:none;margin:0px;}
	body #userForm .formBody {margin-top:15px;}
	body #duedate_h,body #content ul.waiting-families li .success-story{width:auto;}
	body #duedate_calc,body #duedate_form_labels{width:auto;}
	body .app-box p{width:auto;}
	body .app-box{height:auto;}
	#content #userForm textarea,.application-page #content textarea{margin-left:0px !important;width:90%;}
	#userForm .formCaption,.application-page #content label{text-align:left;}
	body .app-box img{position:inherit;}
	body .app-box h3{display:block;}
	body .credit-union-box{width:auto;height:auto;padding:40px 0 0 10px; background:none;}
	body .credit-union-box p{width:auto;}
	body #content .alignright{float:none;}
	body img.alignright{margin:0px !important;}
	body .available-callout,body .home-study-callout{height:auto !important;}
	#ajaxUploadContainer.section label {float:none;}
	body #content .pagination ul li {width:auto;float:none;}
	body #content ul.waiting-families li {width:auto;float:none;}
	body .article-content iframe,body .article-content embed{width:100%;}
	body #sidebar{float:none;width:100%;}
	body .moduletable.newsletter{margin:0 auto;}
	.favorites {text-align: center;}
	.moduletable iframe {margin:0 auto;text-align:center;float:none;display:inherit;}
	body .column dl,body .column .dl{min-height:85px;}
	body .prego-info-rec div img{margin:0px;}
	body .symptoms-box{width:auto;height:auto;padding:8px 0px;}
	body .symptoms-box h1{text-align:center;padding: 0 0 20px 12px;}
	body .vs-adoption,body .vs-abortion{width:auto;}
	body .blog img {max-width:99%;text-align:center;width:99%;}
	body .symptoms-box{background:none;}
	body #content ul.waiting-families li{margin:0px;}
}
/* -----end---- */
@media screen and (min-width:767px) and (max-width:800px){
	body #logo{background-size:90% auto;}
	body .home-page-slider #slider #slides {height:100% !important;width:100%!important;padding:90px 0px;}
	body .column.first,body .column.second,body .column.third{width:44%;}
	body .column dl,body .column .dl{min-height:85px;}
	body #sidebar{float:none;width:100%;}
	body .moduletable.newsletter{margin:0 auto;}
	.favorites {text-align: center;}
	.moduletable iframe {margin:0 auto;text-align:center;float:none;display:inherit;}
}
/* -----end---- */
@media screen and (max-width:800px){
	body #mobile-menu{overflow:hidden;display:block;}
	body i#close-menu{top:15px;}
	body.application-page #top > img {display: none;}
	body{min-width:100%;}
	body .hide{display:block !important;}
	body .menu-open + i#close-menu.menu-open {left: 200px;}
	body .dropshadow{width:100%;padding:0px;}
	body #logo{background-position:center;}
	body #header_phone {float:none;text-align:center;padding:20px 0px;}
	body #header_phone a#free_application_btn{margin:0 auto;}
	body #nav,body #nav .wrapper{display:none;}
	body a#bbblink.ruvtbam,body a#bbblink.ruvtbum{margin:0 auto !important;}
	body .carousel,body .carousel .hold,body .carousel ul{width:auto;}
	body .gallery-box .carousel ul li{float:none; height:auto;}
	body .gallery-box .carousel{display:inline-block;}
	body .gallery-box{text-align:center;}
	body .home-page-slider #slider {display:block;text-align:center;width:100% !important;height:100%;position:relative;}
	body .home-page-slider #slidenav {position:relative;bottom:0;width:100%;}
	body .link-next{float:left;}
	body .carousel ul{height:auto;}
	.home .home-block{display:block;margin:0px;width:auto;}
	body .main .wrapper{width:100%;padding:0px}
	.home .home-block iframe{width:96%;}
	body #footer .wrapper{width:100%;}
	body .column{margin:0 auto;}
	body .copyright-block .wrapper{width:100%;padding:0px;}
	body .copyright-block{padding:8px;}
	body .marketing{display:black;text-align:center;}
	body .spot-marketing{float:none; display:inline-block;}
	body #footer .holder{background:none;}
	body .width2.f-left.bbblink-box{display:none;}
	/* inner page */
	body .form-border{margin:0px;}
	body #content{width:95%;padding:8px 8px;margin:0px; float:none;}
	body #sidebar{margin:0px; padding:0px;}
	body .bio-box div{width:100%;}
	body hr{width:100%;}
	body .bm-form-info{width:100%;}
	body .form-packet-img{margin:0px;}
	form .formFieldset .formContainer .rsform-block-allthatapply .formBody, form .formFieldset .formContainer .rsform-block-lookingtoadopt .formBody{width:100%;}
	form .formFieldset .formContainer .rsform-block-allthatapply label, form .formFieldset .formContainer .rsform-block-lookingtoadopt label{width:100%;}
	body .prego-info-rec{height:auto;}
	body .prego-info-rec p,.hoping-info-rec p{width:100%;}
	body #sidebar .moduletable ul.menu{margin-left:10px;}
	body #sidebar .moduletable ul.categories-module{margin-left:10px;}
	body #sidebar .moduletable ul.latestnews{margin-left:10px;}
	body .preg-img-contain{float:none;padding-left:0px;text-align:center;}
	body #sidebar .moduletable:nth-child(1){margin: 0;}
	body #sidebar .moduletable:nth-child(1) ul li {display: initial;}
}
/* -----end---- */