/**************************************************************/
/*********** REWRITE JOOMLA DEFAULT ADMIN CSS STYLE ***********/
/**************************************************************/

.types{
	float:right;
}

body table.adminlist tbody tr td table.yellow {
	/*background-color:#FFFFCC	*/
}

body table.adminlist tbody tr td , body table.adminlist tbody tr.row1 td , body table.adminlist tbody tr.row0 td {
	/*background:transparent;	*/
}

body table.adminlist tbody tr  
{ background-color: transparent;  text-align: left; }


body table.adminlist tbody tr.row0:hover td, body table.adminlist tbody tr.row1:hover td {
	/*background-color:transparent;*/
}

body input:focus, select:focus, textarea:focus {
	background-color:#FFF;
}

body table.adminlist {
	background-color:#fff;
	border-spacing:0px;
}

body table.adminlist th, .stitle{
	background-color:#eeeeee;
	color:#333333;
	font-weight:bold;
	font-size:14px;
}

body table.adminlist tbody tr td {
	border:0px
}

body table.adminlist tbody tr.row1 {
	background:#F7F7F7;
	border-top:0px solid #FFFFFF;
}

body table.adminlist tbody tr.row1 td {
	background:none;
	border-top:0px solid #FFFFFF;
}

/**************** menu *******************/

body #submenu-box #submenu a.active {
	color:#000000;
	text-decoration:underline;
}

body #submenu-box #submenu li a{
	color:#0B55C4;
	text-decoration:none
}

body table.adminlist td, table.adminlist th {
	padding:2px;
}

body input, select {	
	margin:0;
	padding:0;
	
}

body .adminheading{
	margin-bottom:10px;
}

/***************** toolbar ******************/
.icon-32-languages{
	background-image: url(images/icon-32-languages.png);
}

.icon-32-hit_reset{
	background-image: url(images/icon-32-hit_reset.png);
}
/*******************************************/

/****** FRONTEND START ****/
.frontendsmall {
font-size:10px;
font-style:normal;
}
.tdwva{
vertical-align:top;
width:150px;
}

/****** INTERNAL LINKS  ****/
.indent1{
	text-indent: 7px;
}

.indent2{
	text-indent: 14px;
}

input, button{
	border:1px solid #cccccc;
	/* cursor:pointer; */
}

body div#element-box {
	background: none;
}

body #mypopup{
	background:#ffffff url(images/ajax-loader.gif) center center no-repeat;	
	position: absolute; 
	width: 250px; 
	height: 150px; 
	display: none;  
	border: 1px solid #D5D5D5; 
	left: 350px; 
	top: 200px;
	text-align:center
}

input{
	padding:2px;
}

img.sticky{
	cursor:pointer
}

body table{
	font-size:11px;
}

body form.adminheading table{
	font-size:11px;
}

body a#box_button1{
		
}

body input#box_button2{
	cursor:pointer;	
}

body a#box_button1, body input#box_button2{
	background:url(../images/box_button.gif) left top no-repeat;	
	height:22px;	 
	line-height:22px;
	text-align:center;
	width:89px !important;
	font-size:11px;
	color:#666666;
	display:block; 	
	border:none;
	
}

table.adminlist th.sortable {
	color:#0B55C4;
	cursor:pointer
}

h1,h2,h3,h4 {
	margin:0px;
	padding:0px;
}

table#stats {
    float: left;
	width:513px; 
	margin-bottom:3px;
}

body table#stats a:link, table#stats a:visited {
	color:#AF0000;
}

tr.theadings th {
	padding-bottom:20px;
}

td.filtering {	
	padding-top:10px;
}

form#metatags a {
	text-decoration:none;
}
.video_img{
	margin-left:15px;
}
.video_link:hover{
	text-decoration:none;
}
.video_link{
	//display:block;
}
.red{
	font-weight:bold;
	color:red;
}

.icon-32-config {
	background-image:url(../images/icon-32-config.png);
}

.icon-32-hit_reset {
	background-image:url(../images/icon-32-hit_reset.png);
}

div#element-box div.m {
	background-color:#FFFFFF !important;
}

.title_page{
	font-size:16px;
	color:#CC0000;
	font-weight:bold;
    line-height: 25px;
}

.description_zone{
	background-color:#f7f7f7;
	border:1px solid #999999;
	font-size:14px;
	vertical-align:top;
	padding:4px;
}

.filter_zone{
	text-align:right;
	background-color:#E8F8FF;
	border:1px solid #999999;
	vertical-align:top;
	padding:5px;
}

.select_items_to_edit {
   	font-size:16px;
	color:#CC0000;
	font-weight:bold;
    line-height: 25px;
}

div.current input, div.current textarea, div.current select {
    float: none !important;
    margin: 0 !important;
}

div.current label, div.current span.faux-label {
    float: none !important;
    margin-top: 0 !important;
    min-width: 0 !important;
    display: inline !important;
}

#list_menus, #list_mtree, #list_zoo, #list_ktwo, #list_kunena, #list_easyblog {
    margin-top: 6px;
}

#ijoomla_message {
    background-color: #F7F7F7;
    border: 1px solid #eeeeee;
    float: left;
    margin: 8px;
    padding: 10px;
    width: 42%;
    min-height: 147px;
}

.fltlft {
    float: left;
    margin: 4px 4px 4px 16px;
}

.remove_link_seo {
    float: left;
    margin-top: 2px;
}

.addmore_seo {
    margin-left: 16px;
}

.seo_video {
text-decoration:none;
font-size:14px;
font-weight: bold;
}
a:hover {
  text-decoration: none;
}

